<!-- wp:template-part {"slug":"header","theme":"chatbudgie-wp-theme"} /-->
<!-- wp:group {"align":"wide","style":{"spacing":{"padding":{"top":"32px","bottom":"32px","left":"24px","right":"24px"}},"border":{"radius":"18px"}},"backgroundColor":"surface","layout":{"type":"constrained"}} -->
<div class="wp-block-group alignwide has-surface-background-color has-background" style="border-radius:18px;padding-top:32px;padding-right:24px;padding-bottom:32px;padding-left:24px"><!-- wp:query-title {"type":"archive"} /--><!-- wp:post-template --><!-- wp:post-title {"isLink":true} /--><!-- wp:post-excerpt /--><!-- /wp:post-template --></div>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","theme":"chatbudgie-wp-theme"} /-->
